<div class="well">
  <form id="web-form" class="form-horizontal" (submit)="logIn()">
    <fieldset>
      <legend>User Info</legend>
      <div class="form-group">
        <img src="src/img/nobody_m.original.jpg" width="200px"/>
      </div>
      <div class="form-group">
          <input class="form-control" type="text" name="email" placeholder="example@gmail.com"  />
      </div>
      <div class="form-group">
          <input class="form-control" type="password" name="password" placeholder="********" onkeydown="CheckEmail()" />
      </div>
      <div class="form-group">
        <div class="">
          <button type="reset" class="btn btn-default"> Reset </button>
          <button class="btn btn-primary" type="submit" name="loginButton" id="loginButton" disabled="true"> Log in </button>
        </div>
      </div>
      <div class="form-group">
        <div class="">
          <a href="#">Forget Password ?</a>
          <a href="#">Create Account</a>
        </div>
      </div>
    </fieldset>
  </form>
</div>