#web-form{/*
    max-width: 400px;
    border-radius: 25px;
    border: 2px solid #73AD21;*/
    text-align: center;
}
#loginButton{
    padding: 12px 40px;
    float: right;
    font-weight: 400;
    display: block;
    width: 100%;
}
#forget-password{
    color:#555;
    
}